PORT=5000
DATABASE_URL=postgresql://neondb_owner:npg_AWNpy7bxB0vU@ep-noisy-morning-aoylw5ts-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=d9a2fd17af6498e7c66bbd7a62f9d6af31c586644e44984ad4c7d81bd4e3597910ce02d6df6ce6176bc68c77b63f33e8f629844624ceb2399e617c388c76d48c
GEMINI_API_KEY=AIzaSyDLzO-UIYvJ6fKRG0kuMiCL4M1w_mGpl5I
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
